- include_stylesheet 'admin/taggable'
- include_javascript 'admin/taggable'

- @page_title = t('tags') + ' - ' + default_page_title
= render_region :top 

#tags_table.outset
  %table{ :class => "index", :cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.tag-title Title
          - thead.link_header do
            %th.tag-link Pointer
          - thead.description_header do
            %th.tag-description Description
          - thead.usage_header do
            %th.tag-usage Usage
          - thead.modify_header do
            %th.modify{:colspan =>"2"} Modify

    %tbody
      - for tag in @tags 
        %tr{:class => tag.visible? ? 'visible' : 'secret'}
          - render_region :tbody do |tbody|
            - tbody.title_cell do
              %td.tag-title
                = link_to image('tag', :alt => ''), edit_admin_tag_url(:id => tag.id) 
                = link_to tag.title, edit_admin_tag_url(:id => tag.id) 

            - tbody.link_cell do
              %td.tag-link
                - if tag.page
                  = link_to tag.page.title, tag.page.url
                - else
                  &mdash;

            - tbody.description_cell do
              %td.tag-description
                = tag.description
                
            - tbody.usage_cell do
              %td.tag-usage
                - if tag.use_count.to_i > 0
                  = link_to "#{tag.use_count} #{pluralize(tag.use_count.to_i, 'item')}", admin_tag_url(tag)
                - else
                  \-

            - tbody.modify_cell do
              %td.actions
                = link_to image('minus') + ' ' + t('remove'), remove_admin_tag_url(tag), :class => "action"
 
- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to image('plus') + " " + "new tag", new_admin_tag_url
