- @page_title = 'Tag: ' + @tag.title + ' - ' + default_page_title
- include_stylesheet 'admin/taggable'

- render_region :main do |main|
  - main.remove_header do
    %h1
      = image('tag', :alt => '')
      /= link_to @tag.title, edit_admin_tag_url(@tag)
      = t('text.tag.remove', :tag => @tag.title )
    - if @tag.description
      %p
        = @tag.description
    %p
      = t('text.tag.remove_warning', :tag => @tag)

  - main.remove_pages do
    - page_taggings = @tag.taggings.of_a :page
    - if page_taggings.any?
      %p
        Tagged pages
      %table.index
        - page_taggings.each do |tagging|
          - page = tagging.tagged
          - dom_id = "tagging_#{tagging.id}"
          %tr.page.level-1{:id => dom_id}
            %td{:style => 'width: 48px'}
              = link_to image('page', :class => "icon"), page.nil? ? '' : page.url
            %td.name
              = link_to %{ <span class="title">#{ h( page.nil? ? 'DELETED PAGE' : page.title ) }</span>}, page.nil? ? '' : page.url
            %td.actions
              = link_to_remote image('minus') + ' detach', |
                :html => { :class => "action", :title => "Detach tag from page" }, |
                :url => admin_tagging_url(tagging), :method => :delete, |
                :after => "Effect.Fade('#{dom_id}', { duration: 0.5 })", |
                :complete => "Element.remove('#{dom_id}');"

    - form_for [:admin, @tag], :html => {:method => :delete, 'data-onsubmit_status'=>"Removing pages&#8230;"} do
      .buttons
        %input.button{:type=>"submit", :value => "Delete" }/
        = t('or')
        = link_to t('cancel'), admin_tag_url()